In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

#### Import data (Make sure to parse dates. Consider setting index column to 'date'.)

In [40]:
df = pd.read_csv('fcc-forum-pageviews.csv', parse_dates= ['date'], \
    index_col='date')

df.head(3)

            value
date
2016-05-09   1201
2016-05-10   2329
2016-05-11   1716

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1304 entries, 2016-05-09 to 2019-12-03
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   1304 non-null   int64
dtypes: int64(1)
memory usage: 20.4 KB